/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@300&display=swap');

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.oswald-300 {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* Asterisk wildcard selector to override default styles added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
/* Generic project styles */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 90;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    align-items: baseline;
    display: flex;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0;
    color: #252525;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;

}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a
}

/* Navbar styles with a dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked ~ nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}
    
/* Main Content */
main {
    background-color: lightblue;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 47px
}

/* Footer */
.footer {
    background-color: orange;
}
/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    /* Nav styles for larger screens */
    nav {
        position: static;
        box-shadow: none;
        display: block;
        width: auto;
        padding: 0;
        background-color: transparent;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    /* Hide nav toggle on larger screens */
    .nav-toggle-label {
        display: none;
    }
}